extends layout
block content
	div.canvas-wrapper
		div.choose-condition
			label 类型：
			select#type
				option(value="bst") 搜索二叉树
				option(value="avl") AVL树
				option(value="rbt") 红黑树
			label 删除节点：
			input#del-input(type="text") 
			button#del 删除
			label 插入节点：
			input#insert-input(type="text") 
			button#insert 插入
			br
			br
			label 当前节点顺序（以逗号隔开）：
			input#now(type="text")
		canvas#canvas(width="1000", height="300")