@charset "utf-8";
@hh: 40px;
@len: 8;
@import "./util";
*{
	.common
}
.main-header{
	.h1-style
}
.row{
	width: @len * (@hh + 1px);
	height: @hh + 1px;
	margin: auto;
}
.col{
	.size(@hh, @hh);
	float: left;
	border: 1px solid #000;
	margin-left: -1px;
	margin-top: -1px;
}
.special{
	background: red;
}
.fill{
	.animation-fill
}
.btn-area{
	.cbtn-area
}