<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fillsquare</title>
    <link rel="stylesheet" type="text/css" href="../../build/css/fillsquare.css">
  </head>
  <body>
    <header>
      <h1>分治法—棋盘覆盖问题</h1>
    </header>
    <div class="main">
      <div class="row">
        <div class="col"></div>
        <div class="col special"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="btn-area">
        <button id="to-do">演示</button><a href="https://github.com/zp1996/algorithm-practice/blob/master/cpp/FillSquare.cpp" target="_blank" class="source">C++代码</a>
      </div>
    </div>
    <script type="text/javascript" src="../../build/js/fillsquare.js"></script>
  </body>
</html>