<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lru</title>
    <link rel="stylesheet" type="text/css" href="../../build/css/lru.css">
  </head>
  <body>
    <header>
      <h1>页面置换算法——LRU算法</h1>
    </header>
    <div class="main">
      <div class="show">
        <div class="stack">A</div>
        <div class="stack">A</div>
        <div class="stack">A</div>
        <div class="stack">A</div>
        <div class="stack">A</div>
      </div>
      <div class="intorduction">上述图示会演示：双链表队列最大容量为5的，默认的页面顺序为A，B，C，D，E，A，B，D，G，H，S。lru算法的执行过程</div>
      <div class="btn-area">
        <button id="to-do">演示</button><a href="https://github.com/zp1996/algorithm-practice/blob/master/cpp/LRU.cpp" target="_blank" class="source">C++代码</a>
      </div>
    </div>
    <script type="text/javascript" src="../../build/js/lru.js"></script>
  </body>
</html>